.portfolio {
    background-color: var(--body-color);
    color: var(--second-color-alt);
    padding: 0 0 4rem 0;
    &__container {
        margin-top: var(--mb-6);
    }
}

.project {
    -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    background-color: var(--bg-project);
    border-radius: 1rem;
    overflow: hidden;
    font-family: Roboto Mono;
    font-weight: normal;
    font-size: var(--h3-font-size);
    line-height: 1.5rem;
    justify-self: center;
    width: 100%;
    &__content {
        padding: 1.5rem 1rem;
        color: var(--second-color);
    }
    &__grid {
        display: grid;
        grid-template-columns: 102px 1fr;
        column-gap: 8px;
    }
    &__label {
        display: block;
        text-align: right;
        color: gray;
        &--description {
            color: gray;
            display: inline-block;
            width: 100%;
            max-width: 400px;
        }
    }
    &__window {
        height: 2.5rem;
        background-color: var(--bg-project-alt);
        display: flex;
        align-items: center;
        padding: 0 0 0 1rem;
    }
    &__circle {
        display: block;
        width: 8px;
        height: 8px;
        background-color: var(--bg-project-circle);
        border-radius: 50%;
        margin-right: var(--mb-1);
        &--red {
            background-color: red;
        }
        &--yellow {
            background-color: yellow;
        }
        &--green {
            background-color: green;
        }
    }
    &__title {
        font-weight: bold;
        color: #fff;
        line-height: 1.5rem;
        margin-bottom: var(--mb-1);
    }
    &__link {
        color: var(--second-color);
        text-decoration: underline;
    }
    &__icon {
        color: var(--text-color);
        font-size: 2rem;
    }
}

@media screen and (min-width: 576px) {
    /* --**PORTFOLIO**-- */
    .project {
        width: 100%;
        max-width: 550px;

        &__label {
            display: block;
            text-align: right;
            color: gray;
            &--description {
                color: gray;
                margin-bottom: var(--mb-3);
            }
        }
        &__icon {
            margin-bottom: var(--mb-3);
        }
    }
}

@media screen and (min-width: 768px) {
    /* --**PORTFOLIO**-- */

    .portfolio {
        &__container {
            // grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            grid-template-columns: 1fr 1fr;
        }
    }
    .project {
        &__content {
            padding: 1.5rem 3.5rem 6rem;
        }
    }
}
