@import url("../style.css");

.skills {
    background-color: var(--body-color);
    color: var(--second-color-alt);
    &__container {
        justify-content: center;
        align-items: center;
    }
    &__content {
        border-radius: 1.5rem;
        margin-top: var(--mb-2);
    }
    &__data--title {
        margin-bottom: var(--mb-2);
        font-weight: var(--font-bold);
        text-align: center;
    }
    &__list {
        text-align: center;
        padding: 0 1rem;
    }
    &__item {
        margin-bottom: var(--mb-2);
    }
    &__emoji {
        margin-bottom: var(--mb-2);
        font-size: 50px;
        display: block;
        text-align: center;
    }
}

@media screen and (min-width: 576px) {
    /* --**SKILLS**-- */
    .skills {
        &__container {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }
        &__content {
            min-height: 600px;
        }
    }
}

@media screen and (min-width: 768px) {
    /* --**SKILLS**-- */
}

@media screen and (min-width: 1024px) {
    /* --**SKILLS**-- */

    .skills {
        &__container {
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
        }
        &__content {
            transition: 0.3s ease;
            &:hover {
                -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            }
        }
        &__list {
            text-align: initial;
        }
    }
}
