@import url("../css/skills.css");
@import url("/css/home.css");
@import url("/css/about.css");
@import url("/css/portfolio.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/* --**VARIABLES CSS**-- */
:root {
  --height: 3rem;
  --first-color: #12232e;
  --second-color: #007cc7;
  --second-color-alt: #203647;
  --color-alt: #4da8da;
  --text-color: #eefbfb;
  --body-color: #fefbfb;
  --bg-project: #212528;
  --bg-project-alt: #1e1e1e;
  --bg-project-circle: rgb(70, 63, 63);
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 3.5rem;
  --big-font-size: 3rem;
  --huge-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;
  --font-thin: 100;
  --font-normal: 400;
  --font-semi: 600;
  --font-bold: 700;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 5.5rem;
    --big-font-size: 4.5rem;
    --huge-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/* --**BASIC**-- */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* --**CSS CLASS**-- */
.section--pad {
  padding: 4rem 0 0;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.section__subtitle {
  display: block;
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-3);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.section--hidden {
  opacity: 0;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* --**LAYOUT**-- */
.container {
  max-width: 968px;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

/* --**HEADER**-- */
.header {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: var(--z-fixed);
  background-color: var(--second-color-alt);
}

/* --**NAV**-- */
.nav {
  max-width: 1024px;
  height: var(--height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: var(--body-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}

.nav__item {
  margin-bottom: var(--mb-2);
}

.nav__link {
  color: var(--color-alt);
  font-weight: var(--font-semi);
}

.nav__logo {
  color: var(--color-alt);
  font-weight: var(--font-semi);
}

.nav__logo:hover {
  color: var(--second-color-alt);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__toggle {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 16px;
}

.nav__toggle div {
  width: 25px;
  height: 3px;
  background-color: var(--color-alt);
  margin: 5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 1rem;
}

/* --**Animation toggleX*-- */
.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}

/* --**Show Menu*-- */
.show-menu {
  top: var(--height);
}

/* --**Active Menu Link*-- */
.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.35rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
}

/* --**Special color span**-- */
.award {
  position: relative;
}

.award::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  -webkit-transform: scale(1.07, 1.05) skewX(-15deg);
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-color: var(--second-color);
}

.award--alt {
  background-color: var(--first-color);
}

/* --**SVG waves**-- */
.wave path {
  stroke: none;
  fill: var(--body-color);
}

.wave--alt path {
  fill: var(--first-color);
}

/* --**BUTTONS**-- */
.button {
  background-color: var(--color-alt);
  color: var(--text-color);
  display: inline-block;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  white-space: nowrap;
}

.button:hover {
  color: var(--first-color);
}

.btn {
  display: inline-block;
  background-color: var(--color-alt);
  border: none;
  padding: 1rem 0.2rem;
  border-radius: 10rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (min-width: 769px) {
  .btn {
    padding: 1rem;
  }
}

/* --**CONTACT**-- */
.contact {
  background-color: var(--second-color);
  color: var(--text-color);
  padding: 2rem 0;
  height: 90vh;
}

.contact__mail {
  background-color: #fff;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  width: 200px;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-bottom: var(--mb-3);
}

.contact__mail:hover {
  color: red;
}

.socials {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-top: var(--mb-4);
  margin-bottom: var(--mb-3);
}

.socials__icon {
  font-size: 4rem;
  color: var(--text-color);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.socials__icon:hover {
  color: var(--first-color);
}

.copy {
  font-size: var(--small-font-size);
  text-align: center;
  color: var(--text-color);
  margin-top: var(--mb-3);
}

/* --**MEDIA QUERIES**-- */
@media screen and (min-width: 769px) {
  /* --**NAV**-- */
  .nav {
    height: var(--height);
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__link {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .nav__link:hover {
    color: var(--body-color);
  }
  .nav__toggle {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */