body {
  background-color: #a7bbec;
  width: 1000px;
  min-height: 1000px;
  margin: auto;
}

section {
  background-color: #8ba8f1;
}
#header-top {
  text-align: center;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

.paragraph-who-im {
  background-color: rgb(216, 23, 39);
  color: #000;
  text-align: center;
}
.paragraph-article {
  color: #014e0c;
  background-color: #4a78ec;
  text-align: justify;
}

.secondary-header {
  color: #c52525;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.third-header {
  color: #ffffff;
}

.title-notebook {
  font-size: 24px;
  font-style: oblique;
  color: #c52525;
  text-align: center;
}

a {
  color: rgb(13, 13, 14);
  border-right: 2px solid #c52525;
  padding-right: 10px;
  text-decoration: none;
}

.navigation__all {
  border-radius: 30%;
  background-color: green;
  width: 1000px;
  text-align: center;
  padding: 10px;
}

.ja {
  width: 300px;
  height: 150px;
  border: 3px dotted #c7db12;
  border-radius: 50px;
}
.footer{
    border-radius: 30%;
    background-color: green;
    width: 1000px;
    text-align: center;
    padding: 10px;
}