@charset "UTF-8";
body {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 60px;
  position: fixed;
  top: 0;
  background: black; }

.navigation__all {
  width: 100vh;
  text-align: center;
  padding: 16px;
  display: none; }

.nav__link {
  display: block;
  margin: 0 0 16px;
  color: white; }

.navigation__all--open {
  display: block; }

.main__centered {
  margin: 60px auto 0;
  display: grid;
  grid-template-areas: "header-top" "aboutMe" "topic" "welcome ";
  grid-template-columns: 1fr;
  grid-template-rows: 150px;
  row-gap: 10px; }

.main__centered-two {
  margin: 60px auto 0;
  display: grid;
  grid-template-areas: "header-top" "section";
  grid-template-columns: 1fr;
  grid-template-rows: 150px;
  row-gap: 10px; }

.header-top {
  grid-area: header-top;
  grid-column-start: 1;
  grid-row-start: 1;
  color: khaki;
  padding: 5px;
  text-align: center; }

.aboutMe {
  grid-area: aboutMe;
  grid-column-start: 1;
  grid-row-start: 2; }

.ja {
  margin: auto;
  width: 90%;
  border: 3px dotted #c7db12;
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin: auto; }

.section__main-header {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fefefe;
  text-align: center; }

.aboutMe {
  background-color: #8ba8f1;
  grid-area: aboutMe;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2; }

.topic {
  grid-area: topic;
  grid-column-start: 1;
  grid-row-start: 3; }

.welcome {
  grid-area: welcome;
  grid-column-start: 1;
  grid-row-start: 4; }

.welcome__guest--js {
  background-color: #200620;
  color: yellowgreen;
  font-size: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  padding: 10px; }

.paragraph__aboutMe {
  background-color: #d81727;
  color: #000;
  text-align: center;
  padding: 10px; }

.paragraph__article {
  color: #014e0c;
  background-color: #4a78ec;
  text-align: justify;
  padding: 10px; }

.article {
  border: 3px solid #000;
  background-color: #052f97; }

.secondary-header {
  color: #d20bec;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.secondary-header::before {
  content: "🙂"; }

.third-header {
  color: #ffffff;
  padding: 10px; }

.title-notebook {
  font-size: 24px;
  font-style: oblique;
  color: #c52525;
  text-align: center; }

a {
  color: #0d0d0e;
  padding-right: 10px; }

.main-site-switch {
  background-color: #000;
  color: yellow;
  border: 2px solid #fefefe; }

.move-top {
  background-color: #000;
  color: yellow;
  border: 2px solid #fefefe; }

.arrow {
  width: 25px;
  height: 15px; }

.footer {
  border-radius: 30%;
  background-color: green;
  /*width: 1000px;*/
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: auto; }

.exercise-DOM {
  background-color: #200620;
  font-size: 20px;
  color: yellowgreen;
  padding: 10px; }

.action {
  display: flex;
  justify-content: center;
  margin: auto; }

.hamburger {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none; }

@media screen and (min-width: 426px) {
  body {
    background-color: lightgreen; }
  .main__centered {
    margin: 60px auto 0;
    display: grid;
    grid-template-areas: "header-top header-top" "aboutMe aboutMe" "topic topic" "welcome welcome";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 1fr;
    row-gap: 10px; }
  .main__centered-two {
    margin: 60px auto 0;
    display: grid;
    grid-template-areas: "header-top header-top" "section section";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px;
    row-gap: 10px; }
  .header-top {
    grid-area: header-top;
    grid-column-start: 1;
    grid-row-start: 1;
    color: khaki;
    padding: 5px;
    text-align: center; }
  .aboutMe {
    grid-area: aboutMe;
    grid-column-start: 1;
    grid-row-start: 2; }
  .ja {
    margin: auto;
    width: 50vh; }
  .topic {
    grid-area: topic;
    grid-column-start: 1;
    grid-row-start: 3; }
  .welcome {
    grid-area: welcome;
    grid-column-start: 1;
    grid-row-start: 4; }
  .section {
    min-height: 400px;
    color: black;
    grid-area: section;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2; }
  .section__main-header {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fefefe;
    text-align: center; }
  .footer {
    width: 768px; } }

@media screen and (min-width: 769px) {
  body {
    background-color: #8a979c;
    background-image: linear-gradient(14deg, #8a979c 0%, #24242b 100%); }
  .flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; }
  .navigation__all {
    border-radius: 30%;
    background-color: green;
    width: 100vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px; }
  .navigation__all:hover {
    background-color: #93c093; }
  .nav__link {
    margin: auto; }
  .main__centered {
    width: 1000px;
    /*min-height: 1000px;*/
    margin: auto;
    display: grid;
    grid-template-areas: "header-top header-top" "aboutMe topic" "welcome welcome";
    grid-template-columns: 300px 1fr;
    grid-template-rows: 150px 1fr 150px;
    column-gap: 16px;
    row-gap: 10px; }
  .main__centered-two {
    width: 1000px;
    /*min-height: 1000px;*/
    margin: auto;
    display: grid;
    grid-template-areas: "header-top header-top" "section section";
    grid-template-columns: 300px 700px;
    grid-template-rows: 150px 517px 150px;
    column-gap: 16px; }
  .header-top {
    margin-top: 70px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    grid-area: header-top;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1; }
  .welcome {
    background-color: #200620;
    /*width: 400px;*/
    min-height: 50px;
    grid-area: welcome;
    grid-column-start: 1;
    grid-row-start: 3; }
  .section {
    min-height: 400px;
    color: black;
    grid-area: section;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2; }
  .section__main-header {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fefefe;
    text-align: center; }
  .aboutMe {
    background-color: #8ba8f1;
    grid-area: aboutMe;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2; }
  .topic {
    background-color: #8ba8f1;
    grid-area: topic;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2; }
  .ja {
    margin: auto;
    width: 30vh; }
  a {
    color: #0d0d0e;
    border-right: 2px solid #c52525;
    padding-right: 10px;
    text-decoration: none; }
  .hamburger {
    display: none; } }
